Build the full reply message

```
std::string Reply::getReplyMsg() const
{
	//TODO: Build the whole reply adding hostname and converting code to a string
	//msg = std::string(IRCServer::_hostname) +std::to_string(this->getCode()) + " " + this->getMsg();
	return this->getMsg() + "\n";
}
```

http://chi.cs.uchicago.edu/chirc/irc_examples.html

When an IRC client connects to an IRC server, it must first register its connection. This is done by sending two messages: NICK and USER (messages 1 and 2 in the figure above). NICK specifies the user’s nick (amy in this case), and USER provides additional information about the user. More specifically, USER specifies the user’s username (amy) and the user’s full name (Amy Pond) (we will not be implementing the second and third parameters of USER). The username is typically obtained automatically by the IRC client based on the user’s identity. For example, if you’re logged into a UNIX machine as user jrandom, then most IRC clients will, by default, use that as your username. However, there is no requirement that your nick must match your username.

Assuming you’ve chosen a nick that is not already taken, the IRC server will send back a RPL_WELCOME reply (which is assigned code 001). This reply has the following components:

:bar.example.com: The prefix. Remember that prefixes are used to indicate the origin of a message. Since this reply originates in server bar.example.com, the prefix simply includes that hostname. This may seem redundant, given that the client presumably already knows it is connected to that server; however, in IRC networks, a reply could originate in a server other than the one the client is connected to.

001: The numeric code for RPL_WELCOME.

amy: The first parameter which, in reply messages, must always be the nick of the user this reply is intended for.

:Welcome to the Internet Relay Network borja!borja@polaris.cs.uchicago.edu: The second parameter. The content of this parameter is specified in [[RFC2812 §5]](https://datatracker.ietf.org/doc/html/rfc2812#section-5):